html {
    font-family: 'Poppins', serif;
}
body {
    background-color: #E6E0E9;
    max-width: 800px;
    margin: 0 auto;
}

.WeekdayTasks {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    &-addTask {
        border: 2px solid #141218;
        padding: 28px;
        color: #141218;
        &:hover {
            cursor: pointer;
        }
        &:before {
            display: block;
            content: "+";
            width: 20px;
            margin-right: 15px;
        }
    }
}

.WeekdayTask, .WeekdayTasks-addTask {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 12px;
    
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.WeekdayTask-content, .WeekdayTasks-addTask {
    font-size: 20px;
    font-weight: 500;
    color: #141218;
}
.WeekdayTask {
    padding: 30px;
    justify-content: space-between;
    background-color: #CAC4D0;
    &:hover {
        cursor: pointer;
        .WeekdayTask-isCompleted {
            background-color: #938F99;
        }
    }
    &:active{
        background-color: #CAC4D0;
        transform: translateY(2px);
    }
    &-isCompleted {
        width: 20px;
        height: 20px;
        border: 2px solid #938F99;
        border-radius: 100%;
        &.completed {
            background-color: #938F99;
        }
    }
}